:root{
    --primary: rgb(224, 86, 109) ;
    --bg : #0a0a0a ;
    --teal : rgb(50, 173, 173);
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5) ;
}
body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}
.hero{
    min-height: 100vh;
    background-color: var(--bg);
}
.hero h1{
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
}
.hero h4{
    font-size: 1.6rem;
}
.hero p{
    font-size: 1.4rem;
}
.hero a{
    color: var(--primary);
    background-color: white;
}
.hero a:hover{
    color: white;
    background-color: var(--primary);
}